.nav {
	z-index: 10;
		ul{
			display: flex;
			justify-content: space-between;
			li {
				margin:0 calc-size(33);
				&:last-child{
					margin-right: 0;
				}
			}
			a {	
				position: relative;
				color: #fff;
				font-size: calc-size(14);
				line-height:calc-size(24); 
				font-family: 'OpenSans' sans-serif;
				text-align: center;
				&:hover{
					&:after {
						content: ''; 
					    position: absolute;
					    top:50%;
					    margin: auto;
						transform: translate(-90%, calc-size(100)/2- calc-size(2));
					    border-bottom: calc-size(2) solid $second-color;
					  	width: 120%;
					}
				}
				
			}
		}						
}

@media only screen and(max-width: 767px) {
	#overlay {
		background: rgba(#000, 0.5);
		position: absolute;
		top: mobile-size(341);
		width: 100%;
		left: 0;
		bottom: 0;
		opacity: 1;
		visibility: hidden;
		transition: all 0.5s ease;
		z-index: 4;
	}

	.nav {
		transition: all 0.5s ease;
		opacity: 0; 
		max-height: 0; 
		overflow: hidden; 
		visibility: hidden;
		width: 100%;
		position: absolute;
		top:mobile-size(97);
		left:0;
		z-index: 3;
		background-color: $primary-color;

		&.active {
			opacity: 1; 
			max-height: 10000px; 
			visibility: visible;
		}

		ul {
			display: block;
			li {
				margin: 0;
				text-align: center;
				border-top: mobile-size(1) solid $second-color;
				&:last-child {
					border-bottom: mobile-size(1) solid $second-color;
				}
				&:hover{
						background-color: $second-color;
					}
				a {
					display:block;
					padding:calc-size(33) 0;
					font-size: mobile-size(14);
					line-height:mobile-size(24); 
					
						&:after {
							display: none;
						}
				}
			}
		}
	}
}