//default imports
@import "slick";
@import "slick-theme";
@import "partials/normalize";
@import "partials/reset";
@import "partials/fonts";
@import "partials/variable";
@import "partials/mixin";
@import "partials/forms";
@import "partials/functions";

//component imports
@import "slick";
@import "slick-theme";
@import "social-icons";
@import "hamburger-button";
@import "nav-menu";
@import "header";
@import "footer";

.wrapper  {
	position: relative;
	overflow: hidden;
	margin:0;
	padding: 0;
	width: 100%;
}

//retina support for background image

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
   .about {
    	background-image: url("../img/head-image_retina.JPG");
	}
}

.about {
	overflow: hidden;
	display: flex;
	padding: calc-size(76) 0 calc-size(80) 0;
	background-image: url("../img/head-image.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&:after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		background-color: rgba($primary-color, 0.96);
	}
	
	.about-container {
		width: calc-size(750);
		position: relative;
		z-index: 2;
		h1 {
			position: relative;
			text-transform: uppercase;
			color: #fff;
			font-size: calc-size(40);
			margin-bottom: calc-size(20);
			line-height:calc-size(55); 
			font-family: 'Raleway' sans-serif;
			font-weight: 700;
		}
		p{
			position: relative;
			color: #fff;
			font-size: calc-size(14);
			line-height:calc-size(24); 
			font-family: 'OpenSans' sans-serif;
		}
	}
}

@media only screen and (max-width: 992px) {
	.about {
		padding: tablet-size(37) 0;
		.header-container {
			.about-container {
				h1 {
					font-size: tablet-size(40);
					margin-bottom: tablet-size(20);
					line-height:tablet-size(55); 
				}
				p{
					font-size: tablet-size(14);
					line-height:tablet-size(24); 
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.about {
		padding: mobile-size(37) 0;
		.header-container {
			padding: 0;
			.about-container {
				width: 100%;
				h1 {
					font-size: mobile-size(40);
					margin-bottom: mobile-size(20);
					line-height:mobile-size(55); 
				}
				p{
					font-size: mobile-size(14);
					line-height:mobile-size(24); 
				}
			}
		}
	}
}

.main {
	width: 100%;
	section,.subscribe{
		display: flex;
		overflow: hidden;
		justify-content: center;
	}
}

.container{
	width: calc-size(1120);
	padding:0  calc-size(15); 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.subscribe &, .footer & {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	.footer & {
		align-items: center;
	}
}

@media only screen and (max-width: 768px) {
	.container{
		width: 95%;
		.subscribe & {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
	}
}

@media only screen and (max-width: 992px) {
	.container{
		width: 80%;
	}
}

.management {
	padding: calc-size(153) 0 calc-size(28) 0;
		h2{
			text-transform: uppercase;
			color: $primary-color;
			font-size: calc-size(24.31);
			line-height:calc-size(20.26); 
			font-family: 'Raleway' sans-serif;
			font-weight: 600;
			margin-bottom: calc-size(65);
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: calc-size(78);
				height: calc-size(2);
				background-color: $second-color;
				top:245%;
				left:50%;
				transform: translateX(-50%);
			}
	}

	.cards {
		margin-bottom: calc-size(45);
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 100%;
		.card {
			img {
				width: calc-size(310);
				height: calc-size(300);
				margin-bottom: calc-size(19);
			}
			
			.card-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.card-description{
					margin:0 calc-size(17);
					h3 {
						text-transform: uppercase;
						color: $primary-color;
						font-size: calc-size(16);
						line-height:auto; 
						font-family: 'Raleway' sans-serif;
						font-weight: 500;
						margin-bottom: calc-size(4);
					}
					p {
						position: relative;
						color: $second-color;
						font-size: calc-size(14);
						line-height:auto; 
						font-family: 'OpenSans' sans-serif;
						font-weight: 400;
					}
				}
				
				.social {
					@extend %social;
					li {
						background: #dedede;
					}
					.facebook:hover {
						background: #4f689e;
					}

					.twitter:hover {
						background: #74c7d5;
					}

					.google:hover {
						background: #df5c64;
					}
				}
			}
		}
	}

	.show {
		height: calc-size(50);
		width: calc-size(165);
		border: calc-size(2) solid $primary-color;
		border-radius: calc-size(22);
		background-color: #fff;
		position: relative;
		color: $primary-color;
		font-size: calc-size(16);
		line-height:calc-size(24); 
		font-family: 'OpenSans' sans-serif;
		text-transform: uppercase;
		transition: all 0.5s ease;
		&:hover {
			background-color: #dedede;
		}
	}
}

@media only screen and (max-width: 992px) {
	.management {
		padding: tablet-size(37) 0;
			h2{
				font-size: tablet-size(24.31);
				line-height:tablet-size(20.26); 
				margin-bottom: tablet-size(65);
				&:after{
					width: tablet-size(78);
					height: tablet-size(2);
				}
		}

		.cards {
			margin-bottom: tablet-size(45);
			.card {
				img {
					width: tablet-size(310);
					height: tablet-size(300);
					margin-bottom: tablet-size(19);
				}		
				.card-container {
					.card-description{
						margin:0 tablet-size(17);
						h3 {
							font-size: tablet-size(16);
							margin-bottom: tablet-size(4);
						}
						p {
							font-size: tablet-size(14);
						}
					}
				}
			}
		}

		.show {
			height: tablet-size(50);
			width: tablet-size(165);
			border: tablet-size(2) solid $primary-color;
			border-radius: tablet-size(22);
			font-size: tablet-size(16);
			line-height:tablet-size(24);
		}
	}
}

@media only screen and (max-width: 768px) {
	.management {
		padding: mobile-size(37) 0;
		h2{
			font-size: mobile-size(24.31);
			line-height:mobile-size(20.26); 
			margin-bottom: mobile-size(65);
			position: relative;
			&:after{
				width: mobile-size(78);
				height: mobile-size(2);
			}
		}
 		.cards {
 			flex-direction: column;
 			align-items: center;
 		
 			.card {
 				margin-bottom: mobile-size(19);
 				width: mobile-size(310);
 				margin-bottom: mobile-size(19);
				img {
					width: 100%;
					height: auto;
					margin-bottom: mobile-size(19);
				}
				.card-container {
					.card-description {
						h3 {
							font-size: mobile-size(16);
							margin-bottom: mobile-size(4);
						}
						p {
							font-size: mobile-size(14);
						}
					}
					.social {
						li {
							width: mobile-size(34);
							height: mobile-size(34);
							margin: 0 mobile-size(3.5);
							a {
								img {
								width: auto;
								height: 50%;
								}
							}
						}
						.facebook {
							a {
								img {
									width: auto;
								}
							}
						}
					}
				}
			}
		}
		.show {
			height: mobile-size(50);
			width: mobile-size(165);
			border: mobile-size(2) solid $primary-color;
			border-radius: mobile-size(22);
			font-size: mobile-size(16);
			line-height:mobile-size(24); 
		}
	}
}

.reviews {
	padding:calc-size(120) 0 calc-size(35) 0;
	background-color: #f7f7f7;
	h2 {
		margin-bottom: calc-size(90);
		&:after {
			background-color: $primary-color;
		}
	}

	.slider {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		

		.slide {
			height: calc-size(330);
			display: flex!important;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: flex-start;
			img {
				width: calc-size(90);
				height: calc-size(90);
				border-radius: 50%;
				margin-bottom: calc-size(30);
			}	
			q {
				width: 95%;
				color: #000;
				font-size: calc-size(14);
				line-height: calc-size(24); 
				font-family: 'OpenSans' sans-serif;
				font-weight: 300;
				margin-bottom: calc-size(33);
			}
			cite {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				justify-content: flex-start;
				.name {
					text-transform: uppercase;
					color: $second-color;
					font-size: calc-size(16);
					line-height: calc-size(24); 
					font-family: 'OpenSans' sans-serif;
					font-weight: 600;
					margin-bottom: calc-size(5);
				}
				.post {
					color: #000;
					font-size: calc-size(14);
					line-height: calc-size(24); 
					font-family: 'OpenSans' sans-serif;
					font-weight: 400;
				}
			}
		}
	}
	
}

@media only screen and (max-width: 992px) {
	.reviews {
		padding:tablet-size(37) 0;
		h2 {
			margin-bottom: tablet-size(90);
		}

		.slider {
			.slide {
				height: tablet-size(330);
				img {
					width: tablet-size(90);
					height: tablet-size(90);
					margin-bottom: tablet-size(30);
				}	
				q {
					width: 100%;
					font-size: tablet-size(14);
					line-height: tablet-size(24); 
					margin-bottom: tablet-size(33);
				}
				cite {
					.name {
						font-size: tablet-size(16);
						line-height: tablet-size(24); 
						margin-bottom: tablet-size(5);
					}
					.post {
						font-size: tablet-size(14);
						line-height: tablet-size(24); 
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.reviews {
		padding:mobile-size(37) 0;
		h2 {
			margin-bottom: mobile-size(90);
		}

		.slider {
			.slide {
				height: mobile-size(330);
				img {
					width: mobile-size(90);
					height: mobile-size(90);
					margin-bottom: mobile-size(30);
				}	
				q {
					width: 100%;
					font-size: mobile-size(14);
					line-height: mobile-size(24); 
					margin-bottom: mobile-size(33);
				}
				cite {
					.name {
						font-size: mobile-size(16);
						line-height: mobile-size(24); 
						margin-bottom: mobile-size(5);
					}
					.post {
						font-size: mobile-size(14);
						line-height: mobile-size(24); 
					}
				}
			}
		}
	}
}

.subscribe {
	padding: calc-size(73) 0 calc-size(40) 0;
	width: 100%;
	background-color: #2b2f35;
	h4 {
			text-transform: uppercase;
			color: $second-color;
			font-size: calc-size(14);
			line-height: calc-size(24); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 600;
			margin-bottom: calc-size(18);
		}
	.column {
		p{
			color: #6e7279;
			font-size: calc-size(14);
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
		}
	}

	.about-info {
		width:calc-size(270);
		p{
			line-height: calc-size(24); 
		}
	}
	.contact-info {
		address{
			color: #6e7279;
			font-size: calc-size(14);
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			line-height: calc-size(20); 
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $second-color;
				}
			}
		}
	}
	.subscribe-form {
		display: flex;
		flex-direction: column;

		input[type="email"] {
			background-color: #2b2f35;
			border: calc-size(1) solid #6e7279;
			width: calc-size(300);
			height: calc-size(35);
			color:#fff;
			font-size: calc-size(14);
			line-height: calc-size(20); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			margin-bottom: calc-size(12);
			position: relative;
		}
		
		input[type="email"] {
			@include placeholder {
				color:#6e7279;
				font: inherit;
			}
		}
		button[type="submit"] {
			width: calc-size(300);
			height: calc-size(35);
			background-color: $second-color;
			text-transform: uppercase;
			color: #fff;
			font-size: calc-size(14);
			line-height: calc-size(24); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			border: none;
			transition: all 0.5s ease;
			&:hover {
				color: darken(#fff,15%);
				background-color: darken($second-color,15%);
			}
		}	
	}
}

@media only screen and (max-width: 992px) {
		.subscribe {
		padding:tablet-size(37) 0;;
		h4 {
			font-size: tablet-size(16);
			line-height: tablet-size(24); 
			margin-bottom: tablet-size(18);
		}
		.column {
			p{
				font-size: tablet-size(16);
			}
		}

		.about-info {
			width:tablet-size(270);
			p{
				line-height: tablet-size(24); 
			}
		}
		.contact-info {
			address{
				font-size: tablet-size(16);
				line-height: tablet-size(20); 
			}
		}
		.subscribe-form {

			input[type="email"] {
				border: tablet-size(1) solid #6e7279;
				width: tablet-size(300);
				height: tablet-size(35);
				font-size: tablet-size(16);
				line-height: tablet-size(20); 
				margin-bottom: tablet-size(12);
			}
			
			button[type="submit"] {
				width: tablet-size(300);
				height: tablet-size(35);
				font-size: tablet-size(14);
				line-height: tablet-size(24); 
			}	
		}
	}
}

@media only screen and (max-width: 768px) {
		.subscribe {
		padding:mobile-size(37) 0;;
		h4 {
				font-size: mobile-size(14);
				line-height: mobile-size(24); 
				margin-bottom: mobile-size(18);
			}
		.column {
			text-align: center;
			margin-bottom: mobile-size(15);
			p{

				font-size: mobile-size(14);
			}
		}

		.about-info {
			width:mobile-size(270);
			p{
				line-height: mobile-size(24); 
			}
		}
		.contact-info {
			address{
				font-size: mobile-size(14);
				line-height: mobile-size(20); 
			}
		}
		.subscribe-form {

			input[type="email"] {
				border: mobile-size(1) solid #6e7279;
				width: mobile-size(300);
				height: mobile-size(35);
				font-size: mobile-size(14);
				line-height: mobile-size(20); 
				margin-bottom: mobile-size(12);
			}
			
			button[type="submit"] {
				width: mobile-size(300);
				height: mobile-size(35);
				font-size: mobile-size(14);
				line-height: mobile-size(24); 
			}	
		}
	}
}

