//default imports
@import "slick";
@import "slick-theme";
@import "partials/normalize";
@import "partials/reset";
@import "partials/fonts";
@import "partials/variable";
@import "partials/mixin";
@import "partials/forms";
@import "partials/functions";

//component imports
@import "slick";
@import "slick-theme";
@import "social-icons";
@import "hamburger-button";
@import "responsive";


.pixel-perfect { 
	position:absolute;
	opacity:0.2;
	z-index:1;
}

.wrapper  {
	position: relative;
	overflow: hidden;
	margin:0;
	padding: 0;
	width: 100%;
}


.header-container {
	padding:0  calc-size(15); 
	width: calc-size(1330);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-menu {
	display: none;
}

.active {
			display: flex!important;
			transition: all 0.5s ease;
		}
.header  {
		overflow: hidden;
		padding: calc-size(37) 0;
		background-color: $primary-color;
		display: flex;
		align-items: center;
			
			.logo {
				
				a{
					img{
						height: calc-size(23);
					}
				}
			}
			
			.nav {
				display: flex;
				ul {
					display: flex;
					justify-content: space-between;
					align-items: center;
					align-content: center;
					li {
						display: flex;
						padding:0 calc-size(33);
						align-items: center;
						a {	
							position: relative;
							color: #fff;
							font-size: calc-size(14);
							line-height:calc-size(24); 
							font-family: 'OpenSans' sans-serif;
							text-align: center;
							&:hover{
								&::after {
									content: ''; 
								    position: absolute;
								    top:50%;
									transform: translate(-80%, calc-size(100)/2- calc-size(2));
								    border-bottom: calc-size(2) solid $second-color;
								  	width: 150%;
								}
							}
							
						}
						&:last-child{
							padding-right: 0;
						}

					}
				}
			}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
   .about {
    	background-image: url("../img/head-image_retina.JPG");
	}
}

.about {
	overflow: hidden;
	display: flex;
	padding: calc-size(76) 0 calc-size(80) 0;
	background-image: url("../img/head-image.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&:after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		background-color: rgba($primary-color, 0.96);
	}
	
	.about-container {
		width: calc-size(750);
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		h1 {
			position: relative;
			text-transform: uppercase;
			color: #fff;
			font-size: calc-size(40);
			margin-bottom: calc-size(20);
			line-height:calc-size(55); 
			font-family: 'Raleway' sans-serif;
			font-weight: 700;
		}
		p{
			position: relative;
			color: #fff;
			font-size: calc-size(14);
			line-height:calc-size(24); 
			font-family: 'OpenSans' sans-serif;
		}
	}
}

.main {
	width: 100%;
	section{
		display: flex;
		overflow: hidden;
		justify-content: center;
	}
}

.container{
	width: calc-size(1120);
	padding:0  calc-size(15); 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.subscribe &, .footer & {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	.footer & {
		align-items: center;
	}
}

.management {
	padding: calc-size(153) 0 calc-size(28) 0;
		h2{
			text-transform: uppercase;
			color: $primary-color;
			font-size: calc-size(24.31);
			line-height:calc-size(20.26); 
			font-family: 'Raleway' sans-serif;
			font-weight: 600;
			margin-bottom: calc-size(65);
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: calc-size(78);
				height: calc-size(2);
				background-color: $second-color;
				top:245%;
				left:50%;
				transform: translateX(-50%);
			}
	}

	.cards {
		margin-bottom: calc-size(45);
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 100%;
		.card {
			img {
				width: calc-size(310);
				height: calc-size(300);
				margin-bottom: calc-size(19);
			}
			
			.card-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.card-description{
					margin:0 calc-size(17);
					h3 {
						text-transform: uppercase;
						color: $primary-color;
						font-size: calc-size(16);
						line-height:auto; 
						font-family: 'Raleway' sans-serif;
						font-weight: 500;
						margin-bottom: calc-size(4);
					}
					p {
						position: relative;
						color: $second-color;
						font-size: calc-size(14);
						line-height:auto; 
						font-family: 'OpenSans' sans-serif;
						font-weight: 400;
					}
				}
				
				.social {
					@extend %social;
					li {
						background: #dedede;
					}
					.facebook:hover {
						background: #4f689e;
					}

					.twitter:hover {
						background: #74c7d5;
					}

					.google:hover {
						background: #df5c64;
					}
				}
			}
		}
	}

	.show {
		height: calc-size(50);
		width: calc-size(165);
		border: calc-size(2) solid $primary-color;
		border-radius: calc-size(22);
		background-color: #fff;
		position: relative;
		color: $primary-color;
		font-size: calc-size(16);
		line-height:calc-size(24); 
		font-family: 'OpenSans' sans-serif;
		text-transform: uppercase;
		transition: all 0.5s ease;
		&:hover {
			background-color: #dedede;
		}
	}
}

.reviews {

	padding:calc-size(120) 0 calc-size(35) 0;
	background-color: #f7f7f7;
	h2 {
		margin-bottom: calc-size(90);
		&:after {
			background-color: $primary-color;
		}
	}

	.slider {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		

		.slide {
			height: calc-size(330);
			display: flex!important;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: flex-start;
			img {
				width: calc-size(90);
				height: calc-size(90);
				border-radius: 50%;
				margin-bottom: calc-size(30);
			}	
			q {
				width: 95%;
				color: #000;
				font-size: calc-size(14);
				line-height: calc-size(24); 
				font-family: 'OpenSans' sans-serif;
				font-weight: 300;
				margin-bottom: calc-size(33);
			}
			cite {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				justify-content: flex-start;
				.name {
					text-transform: uppercase;
					color: $second-color;
					font-size: calc-size(16);
					line-height: calc-size(24); 
					font-family: 'OpenSans' sans-serif;
					font-weight: 600;
					margin-bottom: calc-size(5);
				}
				.post {
					color: #000;
					font-size: calc-size(14);
					line-height: calc-size(24); 
					font-family: 'OpenSans' sans-serif;
					font-weight: 400;
				}
			}
		}
	}
	
}

.subscribe {
	padding: calc-size(73) 0 calc-size(40) 0;
	width: 100%;
	background-color: #2b2f35;
	h4 {
			text-transform: uppercase;
			color: $second-color;
			font-size: calc-size(14);
			line-height: calc-size(24); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 600;
			margin-bottom: calc-size(18);
		}
	.column {
		p{
			color: #6e7279;
			font-size: calc-size(14);
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
		}
	}

	.about-info {
		width:calc-size(270);
		p{
			line-height: calc-size(24); 
		}
	}
	.contact-info {
		address{
			color: #6e7279;
			font-size: calc-size(14);
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			line-height: calc-size(20); 
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $second-color;
				}
			}
		}
	}
	.subscribe-form {
		display: flex;
		flex-direction: column;

		input[type="email"] {
			background-color: #2b2f35;
			border: calc-size(1) solid #6e7279;
			width: calc-size(300);
			height: calc-size(35);
			color:#fff;
			font-size: calc-size(14);
			line-height: calc-size(20); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			margin-bottom: calc-size(12);
			position: relative;
		}
		
		input[type="email"] {
			@include placeholder {
				color:#6e7279;
				font: inherit;
			}
		}
		button[type="submit"] {
			width: calc-size(300);
			height: calc-size(35);
			background-color: $second-color;
			text-transform: uppercase;
			color: #fff;
			font-size: calc-size(14);
			line-height: calc-size(24); 
			font-family: 'OpenSans' sans-serif;
			font-weight: 400;
			border: none;
			transition: all 0.5s ease;
			&:hover {
				color: darken(#fff,15%);
				background-color: darken($second-color,15%);
			}
		}	
	}
}

.footer {
	display: flex;
	justify-content: center;
	padding: calc-size(14) 0;
	background-color: $primary-color;
	p { 
		color: #6e7279;
		font-size: calc-size(12);
		line-height: auto; 
		font-family: 'Myriad Pro' sans-serif;
		font-weight: 400;
	}
	.footer-icons {
		@extend %social;
		li,.icon{
			background-color: $primary-color;
			border: calc-size(1) solid #6e7279;
			&:hover {
				background-color: $second-color;
				border: calc-size(1) solid $second-color;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

